body {
    font-family: 'Montserrat', sans-serif;
}
header, footer {
    background-color: #0f5132;
    height: 58px;
}
header .row , footer .row{
    padding: 8px;
}
header .row .Name a, footer .row .Name a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #f0f0f0;
}
header .row .Icon div{
    width: 35px;
    margin: 0 auto;
}
.Admin .container , .User .container{
    height: calc(100vh - 116px);
}
footer .row .Text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #f0f0f0;
    display: flex;
    align-items: center;
}

.Login form .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password] {
    width: 150%;
}

input[type=submit] {
    width: 200%;
}

.products .container {
    padding: 30px 0;
}

.products {
    min-height: calc(100vh - 116px);
}

.products .thumbnail img {
    width: 100%;
}
.products .product {
    padding: 15px;
}

.products .product .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products .product .code {
    display: flex;
    align-items: center;
}

.products .container .links {
    width: 100%;
    display: flex;
    justify-content: center;
}
.products .container .links a{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: #000000;
    text-decoration: none;
    border: solid 2px #000000;
    font-size: 16px;
}
.products .menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.products .menu-bar select {
    display: inline-block;
}
.products .menu-bar .form-select {
    width: 100%;
}
.products .menu-bar button{
    display: inline-block;
    align-self: flex-end;
    height: 48px;
}

aside {
    margin-top: 30px !important;
}

.cart {
    height: calc(100vh - 116px);
}

.items {
    overflow-y: auto;
    height: calc(100vh - 300px);
    overflow-x: hidden;
}
.names {
    font-size: 24px;
    border: 3px solid #000000;
    margin-top: 50px;
    text-align: center;
}

.item {
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

.Total {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.Total span {
    font-size: 32px;
}
.Total a {
    align-self: flex-end;
}